<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1 th:text="${locale}"></h1>
<div>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Number</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.number}"></td>
        </tr>
    </table>
</div>
</body>
</html>